In [2]:
# blab init
import blab
startup_notebook = blab.blab_startup()
%run $startup_notebook

blab init
blab found local libs at D:\Dropbox\31_Projekte\01_Python\libs
Start Time: 19:55:53

time: 7.62 s

# Work with NaN
* `nnan`: Count NaNs in Series or DataFrames.
* `any_nan`: Are there NaNs? Returns True or False.
* `nan_rows`: Returns the rows of a DataFrame that are NaN in the specified column.

In [3]:
import pandas     as pd 
import bpyth      as bpy
import pandasklar as pak 
pak.Config.set('VERBOSE', True)

VERBOSE = True
--> setting verbose=True as default for all pandasklar functions

time: 10.8 s

In [4]:
df = pak.people()

time: 427 ms

## nnan()

In [5]:
?pak.nnan

time: 477 ms

Signature: pak.nnan(data, all=False)
Docstring:
Count NaNs in Series or DataFrames.
For a DataFrame: Returns a list of all fields and the number of NaNs.
For a Series:  Returns the number of NaNs.
* all: Should the result include also the columns without NaNs (for a DataFrame)?
* sum: Should the result include only the total sum (for a DataFrame)? Identical with nnan(df).sum()
File:      d:\dropbox\31_projekte\01_python\git\pandasklar\src\pandasklar\analyse.py
Type:      function

In [6]:
pak.nnan(df)

postal_code     1
birthplace     32
dtype: int64

time: 511 ms

## any_nan()

In [7]:
?pak.any_nan

time: 390 ms

Signature: pak.any_nan(data, without=None)
Docstring:
Are there NaNs? Returns True or False.
Works for Series or DataFrame.
assert not any_nan(df) ensures that a dataframe does not contain NaNs.
* without contains a field name or a list of field names that will be excluded.
File:      d:\dropbox\31_projekte\01_python\git\pandasklar\src\pandasklar\analyse.py
Type:      function

In [8]:
# any_nan
r1 = pak.any_nan(df)     
r2 = pak.any_nan(df.first_name)
r3 = pak.any_nan(df, without=['postal_code','birthplace'])

print(r1, r2, r3)

True False False
time: 385 ms

## nan_rows()

In [9]:
?pak.nan_rows

time: 351 ms

Signature: pak.nan_rows(df, col='')
Docstring:
Returns the rows of a DataFrame that are NaN in the specified column.
* col not specified: Returns all rows with NaNs in any column
* col=0:             Returns all rows with NaN in the FIRST column with NaNs.
* col='city':        Returns all rows with NaNs in the column 'city'
File:      d:\dropbox\31_projekte\01_python\git\pandasklar\src\pandasklar\analyse.py
Type:      function

In [10]:
pak.nan_rows(df)

,first_name,age,age_class,postal_code,birthplace,secret,features,history
3,Martin,27,20,97913,<NA>,LgI5e,"{i, e, B}","[A, B, C, C]"
7,Anna,39,30,23743,<NA>,obAguü,"{c, Y}","[A, x]"
11,Michael,38,30,<NA>,<NA>,öSRGÄ2TfS,"{U, G}","[A, B, C, C]"
14,Hans,33,30,69109,<NA>,OÄöb8oFGm,"{g, N, s}","[a, b, c]"
15,Rainer,21,20,63794,<NA>,D540nji,"{e, A, q, P}","[A, A, A]"
19,Luisa,26,20,41159,<NA>,üTAi8VöSD,{K},[]
20,Karsten,33,30,36882,<NA>,hlmtFnSk7n,{Q},"[A, B, C, C]"
24,Walter,33,30,53944,<NA>,EuwSQxuTkn,"{R, e, M, S}","[A, x]"
29,Lina,36,30,12514,<NA>,8s5corozYf,"{X, l, N, B, 5}","[a, b, c]"
34,Niels,40,40,24261,<NA>,SNL5X89e,"{Z, I, M, s}","[A, B, C, C]"
40,Margarete,37,30,76489,<NA>,gp8JGofZe,"{q, O, S, L, w}","[b, b, a, b]"
43,Helena,28,20,87584,<NA>,jAMmfahOfp,"{E, I, 5, s}",[]
47,Vincent,34,30,21449,<NA>,XIsAbSjh,{b},"[a, b, c]"
48,Christel,37,30,29304,<NA>,abWkÄ,"{L, 5, e}","[A, B, C, C]"
49,Johann,33,30,38831,<NA>,üjstj,"{I, z}","[A, A, A]"
52,Karoline,35,30,97402,<NA>,ZsWjuvifHo,"{V, S}","[A, B, C, C]"
53,Kerstin,29,20,48068,<NA>,eciÄmä,"{r, O, b, k, p}",[]
56,Raphael,30,30,80458,<NA>,7mqayH,"{v, 2, 1, Z, 5}",[]
59,Christa,29,20,82158,<NA>,FgpdAyRaxo,"{f, A}","[A, C, C, B]"
61,Jannick,37,30,32248,<NA>,Tcgnh,"{C, j, U, o, 5}",[]
62,Carolin,29,20,90783,<NA>,7tPtYRPhMM,"{D, N, 5, q}","[a, b, c]"
63,Johanna,30,30,18251,<NA>,JMTäX,"{Q, n, m}","[b, b, a, b]"
65,Hannelore,41,40,69421,<NA>,VrÜJP7D,"{i, m}","[A, C, C, B]"
68,Alina,30,30,41955,<NA>,mRbRtX3aWH,{E},"[a, b, c]"
70,Margarete,32,30,48068,<NA>,äÜJ3xtn5äv,"{H, T, P}","[c, b, a]"
76,Tanja,32,30,61183,<NA>,knfväÖgL8,"{4, W}","[A, B, C, C]"
83,Aileen,33,30,92525,<NA>,pmsApSät,{Q},[]
89,Maik,28,20,33522,<NA>,sraExUäo,"{n, Y, F, w}",[]
91,Raphael,35,30,26779,<NA>,jRAlY9CI,"{e, V, W}","[A, x]"
95,Rainer,26,20,12514,<NA>,YÜkqibA8Ke,"{X, l, N, B, 5}","[A, B, C, C]"
97,Norbert,28,20,71825,<NA>,d6QU4GA,"{C, j, U, o, 5}","[A, B, C, C]"
98,Tanja,32,30,87584,<NA>,YeeMO01,"{c, P, o, L, a}","[A, C, C, B]"

time: 384 ms

In [11]:
pak.nan_rows(df, col='birthplace')

,first_name,age,age_class,postal_code,birthplace,secret,features,history
3,Martin,27,20,97913,<NA>,LgI5e,"{i, e, B}","[A, B, C, C]"
7,Anna,39,30,23743,<NA>,obAguü,"{c, Y}","[A, x]"
11,Michael,38,30,<NA>,<NA>,öSRGÄ2TfS,"{U, G}","[A, B, C, C]"
14,Hans,33,30,69109,<NA>,OÄöb8oFGm,"{g, N, s}","[a, b, c]"
15,Rainer,21,20,63794,<NA>,D540nji,"{e, A, q, P}","[A, A, A]"
19,Luisa,26,20,41159,<NA>,üTAi8VöSD,{K},[]
20,Karsten,33,30,36882,<NA>,hlmtFnSk7n,{Q},"[A, B, C, C]"
24,Walter,33,30,53944,<NA>,EuwSQxuTkn,"{R, e, M, S}","[A, x]"
29,Lina,36,30,12514,<NA>,8s5corozYf,"{X, l, N, B, 5}","[a, b, c]"
34,Niels,40,40,24261,<NA>,SNL5X89e,"{Z, I, M, s}","[A, B, C, C]"
40,Margarete,37,30,76489,<NA>,gp8JGofZe,"{q, O, S, L, w}","[b, b, a, b]"
43,Helena,28,20,87584,<NA>,jAMmfahOfp,"{E, I, 5, s}",[]
47,Vincent,34,30,21449,<NA>,XIsAbSjh,{b},"[a, b, c]"
48,Christel,37,30,29304,<NA>,abWkÄ,"{L, 5, e}","[A, B, C, C]"
49,Johann,33,30,38831,<NA>,üjstj,"{I, z}","[A, A, A]"
52,Karoline,35,30,97402,<NA>,ZsWjuvifHo,"{V, S}","[A, B, C, C]"
53,Kerstin,29,20,48068,<NA>,eciÄmä,"{r, O, b, k, p}",[]
56,Raphael,30,30,80458,<NA>,7mqayH,"{v, 2, 1, Z, 5}",[]
59,Christa,29,20,82158,<NA>,FgpdAyRaxo,"{f, A}","[A, C, C, B]"
61,Jannick,37,30,32248,<NA>,Tcgnh,"{C, j, U, o, 5}",[]
62,Carolin,29,20,90783,<NA>,7tPtYRPhMM,"{D, N, 5, q}","[a, b, c]"
63,Johanna,30,30,18251,<NA>,JMTäX,"{Q, n, m}","[b, b, a, b]"
65,Hannelore,41,40,69421,<NA>,VrÜJP7D,"{i, m}","[A, C, C, B]"
68,Alina,30,30,41955,<NA>,mRbRtX3aWH,{E},"[a, b, c]"
70,Margarete,32,30,48068,<NA>,äÜJ3xtn5äv,"{H, T, P}","[c, b, a]"
76,Tanja,32,30,61183,<NA>,knfväÖgL8,"{4, W}","[A, B, C, C]"
83,Aileen,33,30,92525,<NA>,pmsApSät,{Q},[]
89,Maik,28,20,33522,<NA>,sraExUäo,"{n, Y, F, w}",[]
91,Raphael,35,30,26779,<NA>,jRAlY9CI,"{e, V, W}","[A, x]"
95,Rainer,26,20,12514,<NA>,YÜkqibA8Ke,"{X, l, N, B, 5}","[A, B, C, C]"
97,Norbert,28,20,71825,<NA>,d6QU4GA,"{C, j, U, o, 5}","[A, B, C, C]"
98,Tanja,32,30,87584,<NA>,YeeMO01,"{c, P, o, L, a}","[A, C, C, B]"

time: 382 ms

In [12]:
pak.nan_rows(df, col=0)

,first_name,age,age_class,postal_code,birthplace,secret,features,history
11,Michael,38,30,<NA>,<NA>,öSRGÄ2TfS,"{U, G}","[A, B, C, C]"

time: 343 ms