# Unterschiede

In [3]:
# blab init
import blab
startup_notebook = blab.blab_startup()
%run $startup_notebook

dropbox_path = /Data/Dropbox

time: 4.81 ms (started: 2022-02-14 21:04:08 +00:00)

In [4]:
import numpy      as np
import pandas     as pd 
import bpyth      as bpy
import pandasklar as pak

time: 515 ms (started: 2022-02-14 21:04:08 +00:00)

## Same but different
Korrelationen innerhalb eines DataFrame untersuchen

In [5]:
?pak.same_but_different

time: 44.5 ms (started: 2022-02-14 21:04:09 +00:00)

Signature: pak.same_but_different(df, same, different, sort=True, return_mask=False)
Docstring:
Liefert die Zeilen eines DataFrame, die sich einerseits gleichen und andererseits verschieden sind:
Sie gleichen sich in den in same genannten Feldern.
Und sie unterscheiden sich im in different genannten Feld.
* same:      Array von Spaltennamen. Hiernach wird gruppiert.
* different: Einzelner Spaltenname.  Hier werden Unterschiede gesucht.
Nützlich ist das zur Analyse, ob Felder 100%ig miteinander korrelieren oder aber eigenständig sind.
File:      /Data/Dropbox/31_Projekte/01_Python/90 libs/pandasklar/analyse.py
Type:      function

In [6]:
df = pak.dataframe( [ list('Packesel'), 
                      list('Packesel'), 
                      list('Packesel'), 
                      list('PackeseL'), 
                      list('Packesel'), 
                      list('Packesel'), 
                      list('Packesel'),       
                      list('Packesel'),                     
                ] )
df

   A  B  C  D  E  F  G  H
0  P  a  c  k  e  s  e  l
1  P  a  c  k  e  s  e  l
2  P  a  c  k  e  s  e  l
3  P  a  c  k  e  s  e  L
4  P  a  c  k  e  s  e  l
5  P  a  c  k  e  s  e  l
6  P  a  c  k  e  s  e  l
7  P  a  c  k  e  s  e  l

time: 9.87 ms (started: 2022-02-14 21:04:09 +00:00)

In [7]:
pak.same_but_different(df, ['A','B','C','D'], 'E')

Empty DataFrame
Columns: [A, B, C, D, E, F, G, H]
Index: []

time: 7.73 ms (started: 2022-02-14 21:04:09 +00:00)

In [8]:
pak.same_but_different(df, ['A','B','C','D'], 'H')

   A  B  C  D  E  F  G  H
0  P  a  c  k  e  s  e  l
1  P  a  c  k  e  s  e  l
2  P  a  c  k  e  s  e  l
3  P  a  c  k  e  s  e  L
4  P  a  c  k  e  s  e  l
5  P  a  c  k  e  s  e  l
6  P  a  c  k  e  s  e  l
7  P  a  c  k  e  s  e  l

time: 10.5 ms (started: 2022-02-14 21:04:09 +00:00)

## isin
über mehrere Spalten

In [9]:
?pak.isin

time: 2.62 ms (started: 2022-02-14 21:04:09 +00:00)

Signature: pak.isin(df1, df2, on=[], left_on=[], right_on=[])
Docstring:
isin über mehrere Spalten.
Liefert eine Maske für df1: Die df1, die mit df2 übereinstimmen.
File:      /Data/Dropbox/31_Projekte/01_Python/90 libs/pandasklar/pandas.py
Type:      function

In [10]:
df1 = pak.dataframe( [ list('Würmchen'), 
                       list('Wurmloch'), 
                       list('Witzbold'), 
                       list('Heuernte'), 
                       list('Halbgott'), 
                       list('Halbzeit'), 
                       list('Hausfrau'),       
                       list('Hebelarm'),                     
                ] )

df2 = pak.dataframe( [ list('Babykorb'), 
                       list('abfällig'), 
                       list('Abgründe'), 
                       list('Kätzchen'), 
                       list('Landwirt'), 
                       list('Handkuss'),  # hier gibt es eine Übereinstimmung
                       list('Saugrohr'),       
                       list('Trugbild'),                     
                ] )

df2

   A  B  C  D  E  F  G  H
0  B  a  b  y  k  o  r  b
1  a  b  f  ä  l  l  i  g
2  A  b  g  r  ü  n  d  e
3  K  ä  t  z  c  h  e  n
4  L  a  n  d  w  i  r  t
5  H  a  n  d  k  u  s  s
6  S  a  u  g  r  o  h  r
7  T  r  u  g  b  i  l  d

time: 9.69 ms (started: 2022-02-14 21:04:09 +00:00)

In [11]:
mask = pak.isin(df1, df2, on=['A','B'])
df1[mask]

   A  B  C  D  E  F  G  H
4  H  a  l  b  g  o  t  t
5  H  a  l  b  z  e  i  t
6  H  a  u  s  f  r  a  u

time: 10.5 ms (started: 2022-02-14 21:04:09 +00:00)

In [12]:
mask = ~pak.isin(df1, df2, on=['A','B'])
df1[mask]

   A  B  C  D  E  F  G  H
0  W  ü  r  m  c  h  e  n
1  W  u  r  m  l  o  c  h
2  W  i  t  z  b  o  l  d
3  H  e  u  e  r  n  t  e
7  H  e  b  e  l  a  r  m

time: 10.4 ms (started: 2022-02-14 21:04:09 +00:00)

## check_identical
Vergleich zweier DataFrames

In [13]:
?pak.check_identical

time: 1.67 ms (started: 2022-02-14 21:04:09 +00:00)

Signature: pak.check_identical(df1, df2, verbose=False)
Docstring:
Sind zwei DataFrames inhaltlich identisch?
Dazu müssen sie:
* die gleiche shape besitzen
* die gleichen Spalten besitzen -- Reihenfolge ist aber egal
* die gleichen Zeilen besitzen  -- Reihenfolge ist aber egal
* Pro Spalte / Zeile den gleichen Inhalt besitzen
* datatypes müssen nicht gleich sein.
File:      /Data/Dropbox/31_Projekte/01_Python/90 libs/pandasklar/analyse.py
Type:      function

In [14]:
df1 = pak.dataframe( [ list('Babykorb'), 
                       list('abfällig'), 
                       list('Abgründe'), 
                       list('Kätzchen'), 
                       list('Landwirt'), 
                       list('lebendig'), 
                       list('Saugrohr'),       
                       list('Trugbild'),                     
                ] )

df2 = pak.dataframe( [ list('Babykorb'), 
                       list('abfällig'), 
                       list('Abgründe'), 
                       list('Kätzchen'), 
                       list('Landwirt'), 
                       list('lebendig'), 
                       list('Saugrohr'),       
                       list('Trugbild'),                     
                ] )

df1

   A  B  C  D  E  F  G  H
0  B  a  b  y  k  o  r  b
1  a  b  f  ä  l  l  i  g
2  A  b  g  r  ü  n  d  e
3  K  ä  t  z  c  h  e  n
4  L  a  n  d  w  i  r  t
5  l  e  b  e  n  d  i  g
6  S  a  u  g  r  o  h  r
7  T  r  u  g  b  i  l  d

time: 9.77 ms (started: 2022-02-14 21:04:09 +00:00)

In [15]:
# Anfangs sind die DataFrames identisch
assert pak.check_identical(df1, df2, verbose=True)

time: 48.1 ms (started: 2022-02-14 21:04:09 +00:00)

In [16]:
# Eine Änderung >> nicht identisch
mask = df2['A'] == 'L'
df2.loc[mask,'A'] = 'R'
assert not pak.check_identical(df1, df2, verbose=True)

time: 49.4 ms (started: 2022-02-14 21:04:09 +00:00)

In [17]:
# Zurückändern >> wieder identisch
mask = df2['A'] == 'R'
df2.loc[mask,'A'] = 'L'
assert pak.check_identical(df1, df2, verbose=True)

time: 47.1 ms (started: 2022-02-14 21:04:09 +00:00)

In [19]:
# Spaltenreihenfolge und Zeilenreihenfolge werden geändert
df2 = pak.move_cols(df2,'D').sort_values('D')
df2

   D  A  B  C  E  F  G  H
4  d  L  a  n  w  i  r  t
5  e  l  e  b  n  d  i  g
6  g  S  a  u  r  o  h  r
7  g  T  r  u  b  i  l  d
2  r  A  b  g  ü  n  d  e
0  y  B  a  b  k  o  r  b
3  z  K  ä  t  c  h  e  n
1  ä  a  b  f  l  l  i  g

time: 9.05 ms (started: 2022-02-14 21:04:23 +00:00)

In [20]:
df2

   D  A  B  C  E  F  G  H
4  d  L  a  n  w  i  r  t
5  e  l  e  b  n  d  i  g
6  g  S  a  u  r  o  h  r
7  g  T  r  u  b  i  l  d
2  r  A  b  g  ü  n  d  e
0  y  B  a  b  k  o  r  b
3  z  K  ä  t  c  h  e  n
1  ä  a  b  f  l  l  i  g

time: 10.2 ms (started: 2022-02-14 21:04:23 +00:00)

In [21]:
# immer noch identisch
assert pak.check_identical(df1, df2, verbose=True)

time: 46.2 ms (started: 2022-02-14 21:04:23 +00:00)

## get_different_rows
Vergleich zweier DataFrames

In [22]:
?pak.get_different_rows

time: 1.77 ms (started: 2022-02-14 21:04:24 +00:00)

Signature: pak.get_different_rows(df1, df2, indicator=True)
Docstring:
Liefert die Zeilen zweier Dataframes, die sich unterscheiden.
Hilfreich für Kontrollzwecke.
Bei float kann es zu Fehlern kommen.
File:      /Data/Dropbox/31_Projekte/01_Python/90 libs/pandasklar/analyse.py
Type:      function

In [23]:
df1 = pak.dataframe( [ list('Babykorb'), 
                       list('abfällig'), 
                       list('Abgründe'), 
                       list('Kätzchen'), 
                       list('Landwirt'), 
                       list('lebendig'), 
                       list('Saugrohr'),       
                       list('Trugbild'),                     
                ] )

df2 = pak.dataframe( [ list('Babykorb'), 
                       list('abfällig'), 
                       list('Abgründe'), 
                       list('Kätzchen'), 
                       list('Landwirt'), 
                       list('lebendig'), 
                       list('Saugrohr'),       
                       list('Trugbild'),                     
                ] )

df1

   A  B  C  D  E  F  G  H
0  B  a  b  y  k  o  r  b
1  a  b  f  ä  l  l  i  g
2  A  b  g  r  ü  n  d  e
3  K  ä  t  z  c  h  e  n
4  L  a  n  d  w  i  r  t
5  l  e  b  e  n  d  i  g
6  S  a  u  g  r  o  h  r
7  T  r  u  g  b  i  l  d

time: 9.39 ms (started: 2022-02-14 21:04:24 +00:00)

In [24]:
# Anfangs sind beide DataFrames identisch
pak.get_different_rows(df1, df2)

Empty DataFrame
Columns: [A, B, C, D, E, F, G, H, _merge]
Index: []

time: 49.6 ms (started: 2022-02-14 21:04:24 +00:00)

In [25]:
# Spalten und Zeilen umsortieren
df2 = pak.move_cols(df2,'D').sort_values('D')
df2

   D  A  B  C  E  F  G  H
4  d  L  a  n  w  i  r  t
5  e  l  e  b  n  d  i  g
6  g  S  a  u  r  o  h  r
7  g  T  r  u  b  i  l  d
2  r  A  b  g  ü  n  d  e
0  y  B  a  b  k  o  r  b
3  z  K  ä  t  c  h  e  n
1  ä  a  b  f  l  l  i  g

time: 8.38 ms (started: 2022-02-14 21:04:24 +00:00)

In [26]:
# >> immer noch keine Zeilen, die sich unterscheiden
pak.get_different_rows(df1, df2)

Empty DataFrame
Columns: [A, B, C, D, E, F, G, H, _merge]
Index: []

time: 50 ms (started: 2022-02-14 21:04:24 +00:00)

In [27]:
# Einstreufehler
df1['B'] = df1.B.apply( pak.decorate, p=0.2, special='#' )
df1

   A  B  C  D  E  F  G  H
0  B  a  b  y  k  o  r  b
1  a  b  f  ä  l  l  i  g
2  A  b  g  r  ü  n  d  e
3  K  #  t  z  c  h  e  n
4  L  a  n  d  w  i  r  t
5  l  e  b  e  n  d  i  g
6  S  a  u  g  r  o  h  r
7  T  r  u  g  b  i  l  d

time: 7.78 ms (started: 2022-02-14 21:04:24 +00:00)

In [28]:
# Zeilen anzeigen, die sich jetzt unterscheiden
pak.get_different_rows(df1, df2)

   A  B  C  D  E  F  G  H      _merge
3  K  #  t  z  c  h  e  n   left_only
8  K  ä  t  z  c  h  e  n  right_only

time: 56 ms (started: 2022-02-14 21:04:24 +00:00)